.skills__section {
  min-height: 100vh;
  /* background: #111; */
  margin: 0 1.5rem;
  padding: 0 5rem;
}
.skills__subtitle {
  margin-bottom: 0;
}
.skills {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 2.2rem;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 14px;
  background: var(--title-color);
  border-radius: 3px;
}

.skill-per {
  height: 14px;
  background: #868e96;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: var(--text-color);
  color: var(--body-color);
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--text-color);
  top: -20px;
  right: -5px;
  transform: translateY(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .skills {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 2.2rem;
  }
  .skills__section {
    padding: 0;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
